
 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

.navbar {
    background-color: #2d3436;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    transition: color 0.3s ease;
}

.navbar a:hover {
    background-color: #333;
}

.site-name {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 36px;
    color: #d63031;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.site-name img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.container-box {
    width: 50%;
    margin: 80px auto 0;
    margin-top: 100px;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: box-shadow 0.3s ease;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group.two-cols {
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
padding: 20px 35px;
background-color: rgb(30, 30, 209);
color: white;
border: none;
border-radius: 25px;
cursor: pointer;
transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

button:hover {
background-color: #45a049;
transform: scale(1.05); 
box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="checkbox"]:focus {
transform: scale(1.02); 
transition: transform 0.2s ease;
}

.container-box:hover {
box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
transform: translateY(-5px);
}




input[type="checkbox"]:checked + button {
    pointer-events: auto;
    background-color: #45a049;
}

.smiling-woman {
    margin-left: 40px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.container-box:hover {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.navbar:hover {
    background-color: #333;
}

.site-name:hover {
    color: #e74c3c;
}
